/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

/* Estilos para el formulario de agregar mensajeros */
.form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 45%;
}

.form h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.form label {
    display: block;
    margin: 10px 0;
}

.form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form button:hover {
    background-color: #555;
}

/* Estilos para la lista de mensajeros */
.messenger-list {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 45%;
}

.messenger-list h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.messenger-list ul {
    list-style: none;
    padding: 0;
}

.messenger-list li {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 0;
}

/* Estilos generales para los botones */
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
